* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    gap: 40px;
    padding-top: 8%;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    font-family:Georgia, 'Times New Roman', Times, serif

}



.btns {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  
}

img.btn {
    width: 26%;
    height: auto;
    cursor: pointer;
}

img.btn:hover {
    transform: scale(1.1);
}

#paper {
    width: 30%;
}

#reload {
    width: 50px;
    height: auto;
    cursor: pointer;
}
#reload:active {
    transform: rotate(180deg);
}

footer {
    margin-top: calc(100vh - 96vh)
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
